[2018-02-23 00:15] Gregoirevda opened #26 "Unsupported Architectures when deploying on ITunes Connect"
I'm having this error when deploying a release build to TestFlight:

[code]

Seems related to : https://bitbucket.org/vrtdev/radioplus-studio-brussel-app/pull-requests/new?source=fix/build&t=1

Building with XCode 9.2

[2018-02-23 08:34] Gregoirevda commented on #26
Fixed it by adding this script after the copy File step in the build Phases.
Does it mean you somewhat include simulator binaries?

[2018-02-23 09:26] gPinato commented on #26
Hi @Gregoirevda ,

Yes we do include simulator binaries in our framework.

The framework we add in our react bridge is the same one we publish on native platforms, and in order for our clients to be able to use it in their simulators while developing, we include the x86_64 and i386 architectures.

Those are usually striped away during the publishing process of the app, therefore they do not impact

[2018-02-23 09:35] Gregoirevda commented on #26
I forgot to include the link: https://stackoverflow.com/a/42642209/1824508

[2018-04-30 11:50] OberonMarco opened #31 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1"
I am having an error when building my project for iOS, with Usabilla added as described in the docs.

 It seems related to:
https://github.com/usabilla/usabilla-u4a-ios-swift-sdk/issues/91

Building the project works fine in Xcode 9.1. It doesn't build in Xcode 9.3

[2018-05-01 08:56] Rifinio commented on #31
Hello @OberonMarco,
Thank you for pointing out this issue for us. We are currently working on this and i will let you know once it's done.

[2018-05-23 11:58] chrisverra opened #33 "Unable to implement usabilla"
I am on:

- react-native-cli: 2.0.1
- react-native: 0.53.0
- Xcode 9.3 (9E124)

At the additional setup part for iOS, it states the following:

The app compiles, but when i call: usabilla.loadFeedbackForm("YOUR_FORM_ID_HERE")
with my id, after also adding the require, it says `Native module cannot be null`

[code]
![simulator screen shot - iphone 8 plus - 2018-05-23 at 14 04 58](https://user-image

[2018-05-24 13:41] chrisverra commented on #33
Apologies, I have used initialize. I guess I forgot to mention.
Are there any extensive docs for this package?

I've read in another issue that somebody used a run script and that it would be updated in the docs. However I am not able to find these docs. (could be that it was for native only docs)

Thanks so far

[2018-05-29 10:02] Rifinio commented on #33
Hello @chrisverra,
It's really hard to pinpoint exactly where this goes wrong for you! The documentation is on the [readme](https://github.com/usabilla/usabilla-u4a-react-native#installation) page.

However, I can point some steps to verify and see if they fix your problem:
1) After installing the Usabilla SDK via npm you have to link it to your project using `react-native link usabilla-react-nati

[2018-06-07 13:44] chrisverra commented on #33
I am able to run the sample app. However, I must miss something in the setup of the sdk in our own app.

I have done:
`npm install usabilla-react-native
`
followed by:
`react-native link usabilla-react-native
`

- Created a bridging header ( added a swift file so it automatically does that)
- Added the framework search path as described
- Created a copy files phase in build phases as described.

I

[2018-10-09 13:37] mattSydney opened #37 "Cannot build with XCode 10"
Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler:

[2018-10-12 08:53] Rifinio commented on #37
@mattSydney Thank you for bring this issue up! we are working on it and we'll let you know once it is released.

[2018-10-12 14:05] tzengerink commented on #37
@mattSydney We've released [v0.6.0](https://github.com/usabilla/usabilla-u4a-react-native/releases/tag/v0.6.0) which should solve your issue.

[2018-10-12 14:12] #37 closed

[2018-10-17 14:48] tzengerink commented on #33
@chrisverra Is this still relevant for you?

[2018-10-17 14:49] #26 closed

[2018-10-24 09:58] MokumJ commented on #33
@tzengerink I took over the task from the issuer and I can confirm that this is still an issue.

[2019-01-10 22:49] kbanashek opened #43 "'Usabilla.framework` not available from `ReactNativeUsabilla/Frameworks"
I'm able to compile my iOS project with usabilla implemented, however I cannot complete the step around:
'Drag and drop the `Usabilla.framework` from `ReactNativeUsabilla/Frameworks` and check the `code sign on copy`

as the framework is not available in my list:
![image](https://user-images.githubusercontent.com/2280402/51002055-164f7480-1500-11e9-9258-b114be5fa917.png)

[2019-01-10 23:21] #43 closed

[2019-01-11 16:40] kbanashek opened #44 "UsabillaSampleApp Form is not rendering on iOS with valid formId"
The UsabillaSampleApp will not render on iOS emulators with a valid formId.
No exceptions are being thrown, app crashes

[2019-01-11 19:58] dan11218 commented on #44
Hi @kbanashek, thanks for getting in touch!

From your email earlier I understand you are able to render this in Android, but not in iOS, correct?  May you please provide the name of the account so we may take a closer look? Can you confirm if 'UsabillaSampleApp' is a Form or Campaign? I look forward to your response!

[2019-01-17 20:12] kbanashek commented on #44
It appears that on iOS, the appID is required at least with our application. Something to note moving forward perhaps in the documentation.

[2019-01-17 20:13] #44 closed

[2019-03-22 13:47] MikaelAmborn commented on #43
I'm having the same problem. How did you solve it @kbanashek?

[2019-04-05 07:27] MikaelAmborn opened #52 "Upgrade to iOS sdk 6.1.0"
Please upgrade the usabilla iOS skd to v6.1.0 to support Xcode 10.2

[2019-04-05 15:28] torkvell commented on #52
Hi @MikaelAmborn ,

Thanks for reaching out on this. We're already aware of this and are working on a release for the React Native bridge. If time is of the essence for you on this, then you could get the latest version from our [iOS SDK](https://github.com/usabilla/usabilla-u4a-ios-swift-sdk) and replace it with the current framework.

I hope this clarifies and helps you out. Please let me know i

[2019-04-13 21:19] duytrann commented on #52
Hi @torkvell,

Any updates on this?

[2019-04-15 06:36] torkvell commented on #52
Hi @duytrann ,

This fix is part of our current sprint and will be included in our next release. I will update this ticket once the upgrade is done. In the meantime I would like to thank you all for your patience on this and please let me know if there is anything else I can assist you with.

[2019-04-30 09:07] mattSydney commented on #52
how long is your sprint!? 😂

[2019-04-30 14:08] torkvell commented on #52
Hi @MikaelAmborn,

Pardon for the delay on this. Due to other prioritizations, this hasn't been picked up yet. Our team is currently fully focused on implementing our new Xamarin bridge. I will update this ticket once it's done.

Thank you for your patience on this.

[2019-05-02 15:28] torkvell commented on #52
Hi all,

While you guys are waiting for the release I would like to provide you with some steps on how you can work around this for now:

1. Get the latest Usabilla.framework from [GitHub Usabilla iOS Repository](https://github.com/usabilla/usabilla-u4a-ios-swift-sdk)

2. Replace the current framework in your apps nod-modules / usabilla-react-native with the downloaded one from the iOS repo:
![unn

[2019-05-14 07:52] klaevv commented on #52
Hi @torkvell, can you estimate when the update to support Xcode 10.2 will be out?

[2019-05-14 13:56] torkvell commented on #52
Hi @klaevv ,

I do not want to come with any time estimates on this yet. Our team is still fully focused on finishing up the last tasks in relation to the Xamarin bridge we just released. When those tasks are done we will move on with updating the React Native bridge.

I hope this clarifies. Let me know if you need anything else.

[2019-05-14 14:32] duytrann commented on #52
Hi @torkvell,

I don't feel very comfortable modifying my node modules on a production build. Especially with a high profile app like that of Ajax.
I would have liked to have seen this done at the time of the Xcode 10.2 release, but as we've missed that window already I would (and probably many others) like this to be fixed in a proper release asap.

[2019-05-22 07:04] mattSydney opened #55 "Are you ever going to upgrade the Swift framework as promised?"
We pay a lot money for your library. When are you going to fix it please?

[2019-05-22 07:23] #55 closed

[2019-05-22 07:24] mattSydney commented on #52
Hi , We pay a lot money for your library. When are you going to fix it please? This is not the first time this has happened with new xcode releases

[2019-05-22 08:09] torkvell commented on #52
Hi @mattSydney ,

Our developers are currently working on the update, please give it some time.

Let me know if you need anything else.

[2019-07-02 07:15] klaevv commented on #52
Hi @torkvell,

Are you now able to estimate when the update for Xcode 10.2 is finished?

[2019-07-02 08:50] torkvell commented on #52
Hi @klaevv ,

You can find the latest release with our SDK version 6.2.0 here: https://github.com/usabilla/usabilla-u4a-react-native/releases

[2019-07-02 08:50] #52 closed

[2019-07-15 11:02] philbenoit-ibsa opened #60 "Module compile issue on XCode Version 11.0 beta 2 (11M337n)"
After upgrading to 0.8.0.

During build time I receive an error message.

I see you have supplied an update for the swift package, will we get an update for the RN package soon as well?

[2019-07-16 15:26] torkvell commented on #60
Hi @philbenoit-ibsa ,

We won't provide an update to this yet as our SDK team is currently focused on implementing new features. You will still be able to fetch the latest Usabilla.framework from GitHub Usabilla iOS repository: [https://github.com/usabilla/usabilla-u4a-ios-swift-sdk/releases](https://github.com/usabilla/usabilla-u4a-ios-swift-sdk/releases)

I hope this helps for now. I will keep y

[2019-07-17 07:09] klaevv opened #61 "Passive feedback form crashing on iOS & not closing properly on Android"
# Opening the passive feedback form on iOS

A crash occurs if the back button is pressed. Also selecting the stars option and feeding in the gender info crashes our app. The error in both cases is `*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Application tried to present modally an active controller <UIViewController: 0x7fef40622520>.'`.

I tested this with

[2019-07-19 08:07] klaevv commented on #61
We have this problem in our production build on iOS. The form crashes frequently.

How quickly can you guys get this crashing phenomenon resolved?

[2019-07-19 12:36] torkvell commented on #61
Hi @klaevv ,

I just did a test with our test app that we have provided in this repository: [https://github.com/usabilla/usabilla-u4a-react-native/tree/master/UsabillaSampleApp](https://github.com/usabilla/usabilla-u4a-react-native/tree/master/UsabillaSampleApp)

I have no problem providing feedback through star ratings or with closing the form. Also tested with the latest release v0.8.0. I would

[2019-07-19 12:39] torkvell commented on #33
Sample app tested and works: https://github.com/usabilla/usabilla-u4a-react-native/tree/master/UsabillaSampleApp

[2019-07-19 12:39] #33 closed

[2019-07-22 09:19] klaevv commented on #61
I double checked and the implementation is in accordance with your example app. It does work on Android, so the implementation is probably ok.

I also debugged the callbacks and noticed that `setFormDidLoadSuccessfully` calls its function reference twice, which could be why the crahs occurs. Other than that, I don't see anything unusual with the app regarding the feedback form.

Do you think the d

[2019-07-22 09:34] torkvell commented on #61
Hi @klaevv ,

If you've followed the same implementation as outlined in the example app then there might be an issue with that specific `formID` for iOS specifically.

What I can do is to test with your `formID` on iOS, just to be sure there are no account-specific issues you're running into. Also, is there a specific device you're testing with or does the crash occur on all iOS devices? Feel free

[2019-07-22 09:36] klaevv commented on #61
The crash has occurred on multiple iOS devices. I'll send the details via mail. Thanks.

[2019-07-22 14:59] torkvell commented on #61
Hi @klaevv,

I just had a test with your formID and I'm able to leave feedback and closing the form without any issues. Here is the feedback item.
![2019-07-22 at 16 54](https://user-images.githubusercontent.com/40064170/61642739-c79a4880-aca1-11e9-8385-3ec47e2230d4.png)
![2019-07-22 at 16 59](https://user-images.githubusercontent.com/40064170/61642888-147e1f00-aca2-11e9-8f33-99eb846ab642.png)

If

[2019-07-23 11:53] klaevv commented on #61
I was able to get the form working with your demo project. However it remains a mystery why the crash occurs on iOS with our app.

While our app is more complex than the provided example, the passive feedback form is implemented exactly as the documentation says. I had to disable it on our iOS version for now 🌚

[2019-07-23 12:04] torkvell commented on #61
Hi @klaevv ,

Great to hear you made it work with the example project. Then you at least have something to cross-reference with. If the implementation is done in the same way then maybe it's time to look at the differentiators between the working example and yours. There might be some other underlying things interfering with the Usabilla form. Following the stack trace should at least give you the

[2019-08-13 16:18] arled commented on #33
Getting the same thing even after following the steps in the readme. and why doesn't this have a podspec?!

[2019-08-15 15:34] UsabillaSupport commented on #33
Hi Arled,

Thank you for your message!

Our SDK developers are currently reviewing the implementation process for the React Native bridge to see if this error still persists. Just to confirm, did ran into the "native module cannot be null" error when adding the bridge to your own project? Or was this an issue with the Sample app?

Thanks, and I look forward to hearing from you!

Danny

Best regard

[2019-08-22 14:44] ksulliva opened #65 "Add support for React Native 0.60 autolinking"
It would be nice for this library to support the new [autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) feature of RN 0.60. I understand that some additional setup would likely still be required, but it would be especially helpful on iOS.

Just to give one example of the possible benefits, the current linking process does not work on iOS if you are using c

[2019-08-23 13:47] torkvell commented on #65
Hi @ksulliva ,

Thanks for reaching out to support on this. I'm happy to clarify.

Our SDK team will have a look into this so we eventually can include it in one of our next releases.

I would like to thank you for your feedback and please let us know if there is anything else we can assist you with.

[2019-09-02 06:13] torkvell commented on #60
New release ready: https://github.com/usabilla/usabilla-u4a-react-native/releases

[2019-09-02 06:13] #60 closed

[2019-09-13 16:54] ryandt opened #74 "Feedback screen cut off at top"
Our Usabilla feedback form on Android is getting cut off at the top of the screen. The amount of "cut off" appears equal to the height of the status bar, so my assumption is that the screen is drawing underneath the status bar.

It's worth noting that our `MainActivity` and `Application` classes do not contain any custom theming or styling and we are not subclassing `ReactFragmentActivity` due to

[2019-09-17 14:41] torkvell commented on #74
Hi @ryandt,

Thanks for reaching out on this. I'm happy to assist with this. Do you have a link to a production app where this is replicated? It looks like you have no header in your app, thus resulting in the cut-off.

Looking forward to your reply.

[2019-09-17 16:45] ryandt commented on #74
Hey @torkvell. I'm a little hesitant to share out a project with our app ID. Is there another way to debug this? Something worth noting: we noticed this after updating to RN 0.60.5. We weren't seeing this issue before.

By header, do you mean the app bar? If so, it looks like the app bar is being rendered at the bottom of the screen on Android (see screenshot above).

[2019-09-23 17:33] bdolmar opened #75 "Update packaged Usabilla.framework for Xcode 11"
Xcode 11 updates the Swift compiler from 5.0.1 to 5.1. Attempting to use this package with Xcode 11 results in the following compile error:

"module compiled with swift 5.0.1 cannot be imported by the swift 5.1 compiler"

The error can be resolved by replacing the `Usabilla.framework` with the version available in the `Xcode-11-GM` tag available from https://github.com/usabilla/usabilla-u4a-ios-sw

[2019-10-09 03:53] mink-ang opened #77 "Custom variable as targeting option doesn't work"
Setting custom variables doesn't trigger form. It only sends them as additional information after form submission. iOS and android sdk both support this feature.

[2019-10-10 11:30] torkvell commented on #61
Support delivered through email, closing thread

[2019-10-10 11:30] #61 closed

[2019-10-10 11:53] torkvell commented on #77
Replied in email thread - archived

[2019-10-10 11:53] #77 closed

[2019-10-25 14:25] torkvell commented on #74
Hi @ryandt ,

Pardon for the late reply on this. I just did a test with the latest release v 0.8.2 and there is no cut-off in the header there:
![2019-10-25 at 16 21](https://user-images.githubusercontent.com/40064170/67578857-9ec39c80-f743-11e9-91f9-656b05c6d5bc.png)

This was tested using our sample app: https://github.com/usabilla/usabilla-u4a-react-native/tree/master/UsabillaSampleApp

I hope

[2019-10-25 16:31] ryandt commented on #74
@torkvell I'm still seeing the cut-off issue on my end using 0.8.2. I even tried copying the AppTheme in the sample app and using a 7.0 device to reduce the differences between our tests but to no avail. I will try to find some time next week or the week after to break out the code I'm using into a demo app that can be shared.

[2019-10-30 19:14] bdolmar commented on #75
I need to test it, but it looks like this issue was addressed in the following commit (which is available as a part of 0.8.3):

https://github.com/usabilla/usabilla-u4a-react-native/commit/b13999287b8408001db591e39c3f73337feee185

[2019-11-07 11:31] torkvell commented on #75
Hi @bdolmar,

This happens due to a difference in the compiler version used for our SDK and the compiler version you have in your Xcode you're trying to build with. To fix this you have to make sure the ```Usabilla.framework``` file is compiled with the same compiler you have on your end. You can find the correctly compiled version in our iOS repository for each release, in your case v6.4.2:
![201

[2019-11-07 11:31] #75 closed

[2019-11-11 10:21] quyentran-agilityio commented on #65
+1

[2019-11-12 22:37] mink-ang commented on #65
+1

[2019-11-14 03:11] mink-ang opened #81 "Sample app not working"
RN version: 0.60.5
Xcode version: 11.1
NPM version: 6.13.0

Steps to reproduce:
1. Clone the repo
2. npm install in ./usabilla-u4a-react-native
3. npm install in ./usabilla-u4a-react-native/UsabillaSampleApp
4. npm start
5. Run react-native run-ios

Error 1:
![Screen Shot 2019-11-14 at 1 41 45 pm](https://user-images.githubusercontent.com/41883348/68823678-975f3580-06e8-11ea-9085-fc28f62d89d6.png)

[2019-11-14 03:23] mink-ang opened #82 "Unable to implement usabilla in iOS"
Xcode version: 1.11
Usabilla React Native version: 0.8.3 (with iOS SDK v6.4.2)
React Native version: 0.60.5

Steps to reproduce error
1. Create a new project by react-native init <PROJECT_NAME> --version 0.60.5
2. Follow usabilla documentation to install usabilla-react-native
- yarn add usabilla-react-native
- react-native link usabilla-react-native
- created bridging header file
- added framework

[2019-11-14 16:05] torkvell commented on #81
https://github.com/usabilla/usabilla-u4a-react-native/issues/82

[2019-11-14 16:05] #81 closed

[2019-11-14 16:08] torkvell commented on #82
Hi @mink-ang ,

I'm sorry to hear you're running into issues with buiding your React Native app. This happens due to a difference in the compiler versions. Our latest iOS SDK was built with Swift 5.1. Your Xcode version are using the 5.1.2 compiler. We will release a new iOS SDK early next week. You can then include the framework file from the iOS repo and replace it with your local version. This

[2019-11-19 08:12] torkvell commented on #82
Hi @mink-ang ,

We've now released iOS version 6.4.3 with module format stability. This should resolve issues with compiler issues from Xcode 11 and forward. You can now include the framework file from the iOS repo and replace it with your local version. How to do this is outlined in this ticket: [#75](https://github.com/usabilla/usabilla-u4a-react-native/issues/75)

If there is anything else, ple

[2019-11-27 10:01] torkvell commented on #74
Hi @ryandt,

Please let us know if this is still an issue and if you've been able to replicate it in a test app.

[2019-11-27 15:34] #74 closed

[2019-11-28 02:10] quyentran-agilityio commented on #82
Is it work for now @mink-ang ? I got the same issues.
After install latest version of usabilla-react-native (0.8.4) (sdk version 6.4.3) fixed Error 2: module compiled with Swift 5.1 but did not fixed Error 1: 'React/RCTBridgeModule.h' file not found.
@torkvell

[2019-11-28 16:15] classyklaas commented on #82
@quyentran-agilityio

Thank you for contacting Usabilla! We're happy to help. Before deep-diving into a specific solution/advise from our end, I'd first like to quickly discuss two specific points.

- Could you please confirm your version of React Native? So, not the version of our React Native bridge, but the version of React Native you created your app with.

- Also, could you please confirm you

[2019-11-29 04:00] quyentran-agilityio commented on #82
@classyklaas , Thanks for replied.

- I am using react-native 0.60.5 for my custom app
- I followed exact steps as outlined in README

[2019-11-29 16:25] classyklaas commented on #82
Hi @quyentran-agilityio, thank you for your reply. Good to know.

Could you please try the following?

- In Xcode, go to the project scheme (Product -> Scheme -> Manage Scheme -> double-click on your project).
- Click on the option called 'Buil'd on the left pane.
- Uncheck 'Parallelize Build' under Build Options.
- Then in Targets section, click '+' button then search for 'React'. Select it and c

[2019-12-08 22:41] mink-ang commented on #82
@quyentran-agilityio The: `'React/RCTBridgeModule.h' file not found` error is due to react missing as a dependency. I have a fork that addressed that problem. @classyklaas I have created a PR, can you please review and merge before the next release?

[2019-12-08 22:45] mink-ang opened #87 "Send event after form dismissing crashes then app (iOS)"
How to reproduce:
1. Send event (to trigger active form to open)
2. Dismiss the form
3. Reset campaign data
4. Send event again
 Then app crashes.

I tried this with the sample app.

Note: This only happens when (active) form was dismissed.

[2019-12-09 16:03] torkvell commented on #82
@mink-ang ,

Thank you for your PR request. However, we will wait for our next React Native update which will support the auto-linking feature. This shall resolve compiler versioning issues. The next release date will be in approximately 10 days.

[2019-12-09 16:13] torkvell commented on #82
For all others who might run into any of this. Try this:

1. In Xcode, go to the project scheme (Product -> Scheme -> Manage Scheme -> double click your project).
2. Click on the 'Build' option at the left pane.
3. Uncheck 'Parallelize Build' under Build Options.
4. Then in Targets section, click '+' button then search for 'React'. Select it and click 'Add'.
'React' should now appear under Targets

[2019-12-09 16:50] torkvell commented on #87
Hi @mink-ang ,

I've now done some tests on this and I'm not able to reproduce the reported behavior in our test app:

![2019-12-09 at 17 48](https://user-images.githubusercontent.com/40064170/70455269-46a2e880-1aac-11ea-9972-11a0063ad2b5.gif)

What I could do is to do some final testing with your specific appID and campaign event name, please forward this support@usabilla.com so we can assist fur

[2019-12-09 21:47] mink-ang commented on #87
Hi @torkvell , instead of clicking continue, can you click cancel?

[2019-12-09 21:59] mink-ang commented on #87
![usabilla_crash](https://user-images.githubusercontent.com/41883348/70476666-4dbd0b80-1b2b-11ea-9345-4aadb8c35d7f.gif)

[2019-12-10 09:06] torkvell commented on #87
Hi @mink-ang ,

Thanks for clarifying. I can confirm this is a bug. A ticket has been created for this and should hopefully be fixed so it's ready for our next release. Our next release will be in approximately 10 days.

If there is anything else we can assist with, please let me know.

[2019-12-12 09:12] LouiseBC opened #90 "Bug: Form text overlaps when font size is very large"
As you can see in the screenshot below, when the font size is set to very large (through settings > accessibility > display & text size > Larger text > turn everything to max) the text overlaps and it is not clear how to interact with the form.

<img width="366" alt="Screenshot 2019-12-12 at 09 58 08" src="https://user-images.githubusercontent.com/21264029/70698233-55191c00-1cc7-11ea-8365-4225fe31

[2019-12-12 12:42] torkvell commented on #90
Hi @LouiseBC ,

Thank you for your feedback. I just did a test myself and it works like a charm on my end:

![2019-12-12 at 13 42](https://user-images.githubusercontent.com/40064170/70712942-44779e80-1ce5-11ea-8573-08607b9d6405.gif)

Could you please share the form name and account name by sending an email to support@usabilla.com. I can then test further on this for you.

Looking forward to your r

[2019-12-12 16:09] torkvell commented on #90
Hi @LouiseBC ,

Thanks for sending through your form ID. I did my tests on a campaign where it works. However,  I can confirm this is an issue with the feedback form:

![2019-12-12 at 17 08](https://user-images.githubusercontent.com/40064170/70728604-0341b780-1d02-11ea-8437-189235143270.png).

This issue originates from the error message fields which can be set up in your Usabilla console:

![2019

[2019-12-13 07:43] LouiseBC commented on #90
Great, thank you!

On Thu, Dec 12, 2019 at 5:09 PM Toralf Kvelland <notifications@github.com>
wrote:

--
[ Q42 | 070 44523 52 | https://www.q42.nl <http://q42.nl/> | KvK 30164662 ]

[2020-01-02 12:47] keshcreations commented on #90
Hi @LouiseBC,

Thank you for your patience on this. I'm happy to be able to share that we have fixed this issue in the latest release of our React Native Hybrid SDK. Please upgrade to the latest version of the SDK to implement the fixes on your end as well.

In the new version of our React Native SDK, we also have introduced auto-linking. Based on how our current React Native SDK is installed, thi

[2020-01-02 12:47] #90 closed

[2020-01-02 12:48] keshcreations commented on #87
Hi @mink-ang

Thank you for your patience on this. I'm happy to be able to share that we have fixed this issue in the latest release of our React Native Hybrid SDK. Please upgrade to the latest version of the SDK to implement the fixes on your end as well.

In the new version of our React Native SDK, we also have introduced auto-linking. Based on how our current React Native SDK is installed, this

[2020-01-02 12:48] #87 closed

[2020-01-02 13:00] keshcreations commented on #82
Hi @mink-ang & @quyentran-agilityio,

Our team released a new version of our React Native SDK with auto-linking. I would like to invite you to have a look at it and try it out. Installing this version of the SDK is different from the previous versions hence why we updated our documentation as well.

Feel free to share any feedback you might have with us.

[2020-01-02 13:00] #82 closed

[2020-01-02 13:01] keshcreations commented on #65
Hi @ksulliva,

Thank you for taking the time to consider how we could improve our product.

Our team released a new version of our React Native SDK with auto-linking. I would like to invite you to have a look at it and try it out. Installing this version of the SDK is different from the previous versions hence why we updated our documentation as well.

Feel free to share any feedback you might hav

[2020-01-02 13:01] #65 closed

[2020-02-14 11:56] MokumJ opened #97 "Missing instruction on localization"
In the readme I am missing instructions on how to deliver translations for certain form variables. Like add screenshot
As I can read in the readme for ios you can overwrite the values in .string file. But this file is generated by the pod and will be overwritten again by a new pod install.

Is there a way to achieve this with react-native or is this not possible?

More information on this in the r

[2021-08-12 07:22] beshur opened #144 "Crash due try to call dismiss() on 7.1.2 SDK version"
Reposted from https://github.com/usabilla/usabilla-u4a-android-sdk/issues/235

For presenting form we use:
1) `usabilla.setCustomVariables(options)`
2) `usabilla.loadFeedbackForm(USABILLA_NATIVE_FORM_ID)`
3) `usabilla.setFormDidClose(noop)`

for dismiss form we use:
1) `usabilla.dismiss()`

React Native "0.64.1"
usabilla-react-native is "0.13.1"

We found a crash trying to call dismiss():
[code]
T

[2021-08-19 15:42] xanderwernecke commented on #144
Hi Beshur,

Thank you for reaching out, I'm happy to help!

I'd like to just confirm if you're experiencing this issue on android, iOS or on both?

I'm looking forward to your response.

Kind Regards,

Xander Wernecke

[2021-08-20 07:19] beshur commented on #144
Hello.

The crash happens on iOS

[2021-09-02 13:31] Venkat1128 opened #146 "Disable debug Enabled on iOS"
In the module initialization in the UsabillaBridge.swift file debug is always set to true  ("Usabilla.debugEnabled = true " ) but shouldn’t it be false?

[2021-09-02 15:21] eduakaszas commented on #146
Hi @Venkat1128 ,

Thank you for reaching out.

The project is open source, therefore it's possible for our customers to remove or modify that line of code. We are only printing logs in debug mode.

That being said, we've created a feature request about this and our developers will work on adding a bridge method that will allow you to toggle debug mode.

We'll let you know once that's ready.

Kind

[2021-09-10 10:51] Venkat1128 opened #147 "crash at setDataMask in swiftBridge module for iOS"
We have seen a spike of crashes on our production app with the below stack trace.
We are initializing the SDK and setting up the data mask as follows :

[code]
We believe that it might be setDataMask is been called before initialization is completed, but can't be sure since we don't have access to the native setDataMask method.

<img width="1296" alt="Screenshot 2021-09-10 at 11 40 23 AM" src="htt

[2021-09-13 15:08] xanderwernecke commented on #147
Hi @Venkat1128 ,

Thank you for reaching out!

Please could you provide me with the following information and I can pass it over to the developers:
**Platform:**
Android / iOS
SDK version
Device & Device OS version
Steps to reproduce the issue
FormId / AppId / CampaignId
Stack trace / logs

I'm looking forward to your response.

[2021-09-14 08:10] Venkat1128 commented on #147
Thanks for the reply @xanderwernecke
Please find the details below:
Platform: iOS
SDK: v0.13.2
Device & Device OS version: iPhone ( all models) & iOS 14.x
Steps to reproduce : Issue reported only in production environment
Stack Trace:
<img width="1290" alt="Screenshot 2021-09-14 at 9 08 59 AM" src="https://user-images.githubusercontent.com/5871460/133220705-2689bb4f-c07c-4699-b1c2-973bfeda091d.png

[2021-09-14 09:10] xanderwernecke commented on #147
Hi @Venkat1128 .

Thank you for providing me with the additional information. I've passed this onto the Developers and I'll get back to you regarding it once I have an update from them.

Kind Regards,
Xander

[2021-09-29 11:11] eduakaszas commented on #146
Hi @Venkat1128 ,

Thank you for your patience.

This issue has been fixed in the latest release of our SDK. You can now enable/disable the feature using `Usabilla.setDebugEnabled(boolean)`

Kind regards,
Édua

[2021-09-29 11:11] #146 closed

[2022-01-04 15:11] tom-sherman opened #150 "`onBackPress` does not exist as an export"
The docs on handling Android back button presses says to use a `onBackPressed` method, but no such method exists in the source code or installed package from `npm`.

[2022-01-04 15:34] kioli commented on #150
Good day @tom-sherman and thank you for opening this issue

Could I please know the version of our React-Native bridge you are using?

[2022-01-04 16:12] tom-sherman commented on #150
We're using latest, 0.14.0

[2022-01-06 15:14] xanderwernecke commented on #147
Hi @Venkat1128 . Thank you for your patience on this case.

Our Developer's took a look at this, however, were unable to reproduce this issue. Are you still experiencing this crash?

I'm looking forward to your response!

Kind Regards,
Xander

[2022-01-06 15:15] xanderwernecke commented on #144
Hi @beshur  . Thank you for your patience on this case.

Our Developer's took a look at this and have done some testing around this, however, were unable to reproduce this issue. Are you still experiencing this crash?

I'm looking forward to your response!

Kind Regards,
Xander

[2022-01-11 14:01] xanderwernecke commented on #144
This issue seems to have grown stale and as a result, we will close this ticket for now. Please feel free to open it again if you experience this issue again / continue to experience this issue.

Kind Regards,

Xander

[2022-01-11 14:01] #144 closed

[2022-01-11 14:01] xanderwernecke commented on #147
This issue seems to have grown stale and as a result, we will close this ticket for now. Please feel free to open it again if you experience this issue again / continue to experience this issue.

Kind Regards,

Xander

[2022-01-14 11:49] Venkat1128 commented on #147
Hi, @xanderwernecke  sorry for the late reply.
We can still see the issue.
I see an open pr improving setDataMasking will null check. I am not sure if that fix is related to this issue?
We will wait for that to be released and see how it goes.

Thanks,
Venkat

[2022-01-19 11:05] xanderwernecke commented on #147
Hi @Venkat1128 , thank you for your response. Set data masking PR isn't related but It has has just been released, please can you let me know if you are still experiencing this issue after this release.

Kind Regards,
Xander

[2022-01-24 12:33] #150 closed

[2022-01-24 12:33] #97 closed

[2022-02-14 09:08] Venkat1128 commented on #147
Hi @xanderwernecke
We have updated the library to the latest Version in the app, but still the same crash with setDataMasking. The stack trace is also the same.
Any suggestions, please?

Thanks,
Venkat

[2022-02-23 15:54] tom-sherman opened #154 "Failure to compile on Android"
We have begun receiving errors when building android in our app that includes usabilla

[code]

After removing the usabilla dependency the app builds successfully.

We also get a similar error for release builds:

[code]

[2022-02-24 15:23] tutts commented on #154
hello, I'm seeing the same issue, but there is a precursor error to the one above.

It appears that ubform is using app-compat 1.4.1, which forces us to bump the sdk version to 31. After updating in grade then the error above appears.

The error prior to that is:

[code]

[2022-02-24 15:52] ConorLindsay94 commented on #154
I saw the same error when upgrading React Native to 0.66.4 from 0.65.1.

There is an issue on google's issue tracker regarding the root cause of this: https://issuetracker.google.com/issues/159151549#comment12

I got around this error by setting both `compileSdkVersion` and `targetSdkVersion` to 31 but then also using AGP 7.1.0 as mentioned in that comment above.

[code]

[2022-02-24 15:59] tutts commented on #154
I've managed to get it to work without upgrading if anyone finds this of interest:

in `build.gradle` add this:

[code]

and then in `grade.properties`

[code]

[2022-02-24 16:03] tom-sherman commented on #154
Interesting, I had to do 3 changes to fix this in our app:

- Ignore moshi from jetifier transforms using `android.jetifier.ignorelist` in gradel.properties
- Bump `compileSdkVersion` to 31
- This surfaced another issue (https://github.com/facebook/react-native/issues/31572) which I fixed by pinning appcompat to 1.3.1

[code]

[2022-03-02 13:52] saeedtkh commented on #154
@tom-sherman any news on this issue?

[2022-03-02 14:27] tom-sherman commented on #154
I am waiting for Usabilla support to respond to my ticket. Ideally I don't want go forward with the above changes in our app, especially as the issue is definitely caused by including Usabilla as a dependency.

[2022-03-02 20:46] SherifMega opened #156 "Support For ios Dark Mode"
package still not support dark mode for ios, any hope for changes soon ?

[2022-03-03 09:13] stodorovicc commented on #156
HI @shrief1234567899 ,

Thanks for reaching out, I'm happy to help.

We already have available dark mode via our webeditor in GetFeedback Dashboard(in advanced settings of the form/campaign) and on our latest version of iOS SDK(from v6.10.0 onwards).

Hope that helps and let me know if you have any more questions.

Thanks,
Slobodan

[2022-03-03 09:21] shrief1234567899 commented on #156
<img width="883" alt="Screen Shot 2022-03-03 at 11 18 08 AM" src="https://user-images.githubusercontent.com/32880766/156534697-fc8ee90a-6dd0-4ef8-be04-a91d0934263a.png">

thank you for your reply
but the latest version ready in package is 6.5+ , what about this ?

[2022-03-03 09:37] stodorovicc commented on #156
@shrief1234567899,

Yes, that fetches the latest minor & patch versions. If you are on older version, you can try `cd ios && pod outdated` and after that you can try `pod update Usabilla`. Please also see attached screenshots.
<img width="718" alt="Screenshot 2022-03-03 at 10 27 45" src="https://user-images.githubusercontent.com/92579341/156537432-6ca69c78-f1c6-4305-9615-4a7794352c49.png">
<img wi

[2022-03-03 09:53] SherifMega commented on #156
great, thank you!
every thing works fine now

[2022-03-03 09:53] #156 closed

[2022-03-04 17:21] lennardtastic commented on #154
Hi @tom-sherman,

Our apologies that no one got back to you yet here on Github. Normally, someone from the support team would reach out to you but I suspect this issue slipped through. Maybe the support team already got back to you via email? Nonetheless, I would like to provide you with an update on the matter.

As you've already highlighted the specific issue seems to be related to AppCompat 1.4

[2022-03-09 11:04] tom-sherman commented on #154
Can confirm that v0.15.1 fixed this issue for us.

[2022-04-27 13:55] orel91 opened #164 "Android - Could not invoke UsabillaBridge.initialize"
Hi,

We encounter a crash of our app when calling the usabilla.initialize function in our React Native code.

**Platform**: Android
**SDK**: v0.15.1
**Device & Device OS version**: Android 5.1.1
**Steps to reproduce**: Initialize usabilla in the code and launch the app
**Stack Trace**:
[code]

We are using React Native v0.64.1 and the SDK is working fine on newer models (Android 9 for example).

C

[2022-05-09 15:46] tom-sherman opened #166 "Detect whether a form is open"
When handling the back button presses on Android we need a way to detect whether a form is open. We must return `true` from the `hardwareBackPress` handler when the form is open in order to prevent going back in our app, and false otherwise (let the event pass).

We implement this with code like the following:

[code]

This isn't ideal for a few reasons but mainly because we need to wrap Usabilla

[2022-05-13 07:32] orel91 commented on #164
Hello @stodorovicc, any news on this bug?

[2022-05-16 13:00] stodorovicc commented on #164
Hi @orel91 , no news just yet on this bug unfortunately. I will get back to you as soon as our SDK team looks into this.

Kind Regards,
Slobodan

[2022-06-15 15:28] NickFitton opened #173 "Android - Screenshots are not uploading"
When giving a screeenshot in feedback, Android does not seem to upload it with the feedback, this does not seem to affect iOS.

||Device|Usabilla UI|
|---|---|---|
|Android|<img src="https://user-images.githubusercontent.com/9018929/173862157-2de1ac3f-c534-4cae-9fe6-acb2fe41ce61.jpg" width="100%" />|<img src="https://user-images.githubusercontent.com/9018929/173862179-18ef5da5-a245-415b-b2c6-9ef68

[2022-06-23 10:12] tom-sherman opened #175 "Support new React Native new architecture (TurboModules/Fabric)"
See https://reactnative.dev/docs/new-architecture-library-intro

https://reactnative.dev/blog/2022/06/16/resources-migrating-your-react-native-library-to-the-new-architecture

[2022-07-14 13:24] spylefkaditis-worldremit commented on #164
Is there any update on this? We're experiencing the same issue.
We're on
[code]

[2022-07-14 14:38] stodorovicc commented on #164
Hi @spylefkaditis-worldremit & @orel91 ,

Would you be able to update to latest react-native version and check if this issue persists?

Thanks in advance,
Slobodan

[2022-07-22 05:13] manhbuithe opened #180 "Module map error when build app on xCode"
I encoutered this error when build app on xCode. Please help

`error: module map file '/Users/xxx/Library/Developer/Xcode/DerivedData/Project-ftwidxnjiqbxsybhrvricwdzlafc/Build/Products/Release-iphonesimulator/usabilla-react-native/usabilla_react_native.modulemap' not found`

[2022-08-18 11:34] #154 closed

[2022-09-12 10:14] WRiferreiro opened #181 "Fatal Exception: java.lang.IllegalStateException: No definition found for a"
Hello,

We've been getting hundreds of crashes with the following stack trace:

`Fatal Exception: java.lang.IllegalStateException: No definition found for a
       at com.usabilla.sdk.ubform.di.Component.getProvider(Component.kt:21)
       at com.usabilla.sdk.ubform.di.Component.get(Component.kt:13)
       at com.usabilla.sdk.ubform.di.Component.access$get(Component.kt:5)
       at com.usabilla.sd

[2022-09-19 09:55] sherif-cyber opened #182 "Usabilla Campaign appears randomly"
- Creating New Campaign with **Custom Events**

will lead to display this campaign randomly in app even (event fired or not)

so in some cases campaign is fired in old versions of app which doesn't contain new event.

[2022-09-19 10:50] stodorovicc commented on #182
Hi @sherif-cyber , thanks for reaching out.

Could you please update to the latest version of our iOS SDK using Pods? We fixed that issue in our v6.12.2 release.

You can update using "cd ios && pod update Usabilla && cd .."

Let us know if that worked for you.

Thanks,
Slobodan

[2022-09-19 11:23] SherifMega commented on #182
Thank you @stodorovicc for Quick Reply

is there any workaround available to avoid that happening in old releases

campaign config or something like that 🤔

i mean when publishing new version and enable campaign (old release issue still happens - new releases fixed)

[2022-09-19 14:23] stodorovicc commented on #182
Hi @sherif-cyber , unfortunately there is nothing that can be done in campaign config, unless you update to the latest version of our SDK. Another thing to note is that this issue started from v6.12.0 when we introduced Standard events, if you're using version older than that, there should be no issues with campaign displaying randomly.

Thanks,
Slobodan

[2022-09-19 14:30] SherifMega commented on #182
Thanks 🙏  i will validate that at newer SDK version

[2022-09-19 14:30] #182 closed

[2022-10-06 08:21] rpander93 opened #183 "Request to update iOS sdk"
Hi,

Any chance that the iOS sdk can be upgraded to the latest version (https://github.com/usabilla/usabilla-u4a-ios-swift-sdk/releases/tag/v6.12.3-Xcode-14.0) soon? It contains the fix to the freeze on iOS 16 that we're experiencing. We had to disable the campaign because of it!

Regards

[2022-10-18 10:16] stodorovicc commented on #147
Hi @Venkat1128,

Just wanted to follow up on this, is the issue still present? If so, would you be able to provide us a sample or a code snippet?

Thanks in advance,
Slobodan

[2022-10-18 10:19] stodorovicc commented on #164
Hi @orel91 & @spylefkaditis-worldremit,

I will close this issue since there was no reply. Feel free to open another one if this happens again.

Kind regards,
Slobodan

[2022-10-18 10:19] #164 closed

[2022-11-10 14:37] francocm commented on #147
Hi @stodorovicc,

I'm replying in @Venkat1128's place. Yes, the issue is still present. We notice:

* it happens when jumping back from a webview into the app using `appscheme://` _(I redacted the actual scheme name)_
* it seems to be a race condition. Works roughly 80% of the time, and to reproduce it simply run the same test repeatedly. We also notice a similar % of crashes in this situation on